'''
# Data Science Tools and Ecosystem
'''

'''
In this notebook, Data Science Tools and Ecosystem are summarized.
'''

'''
**Objectives***

-List of popular Data Science Languages

-Commonly used Libraries in Data Science

-Data Science Tools
'''

'''
Some of the popular languages that Data Scientists use are

1. Python
2. R
3. SQL
4. Scala
'''

'''
Some of the commonly used libraries used by Data Scientists included:

- NumPy
- Pandas
- Matplotlib
- TensorFlow
'''

,,,
|Data Science Tools|
|-----------------|
|RStudio  |
|Apache Spark  |
|TensorFlow  |
'''

'''

###Below are a few examples of evaluating arithmetic expressions in Python
'''

In [8]:
'''
#This is a simple arithmetic expression to multiply then add integers
result = (3*4)+5
print(results)
'''

'\n#This is a simple arithmetic expression to multiply then add integers\nresult = (3*4)+5\nprint(results)\n'

In [6]:
'''
# This will convert 200 minutes to hours by dividing by 60 
minutes = 200
hours = minutes/60
print(hours)
'''

'\n# This will convert 200 minutes to hours by dividing by 60 \nminutes = 200\nhours = minutes/60\nprint(hours)\n'

'''

## Author

Angela Lambert
'''